.header {
    background-image: url('../../assets/images/lobinho.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Alterado de 'contain' para 'cover' */
    min-height: 80vh; /* Garante que o banner ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    
  }
  