.header {
  background-image: url('../../assets/images/lobinho.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}